<div  class="container col-md-6"> 
 <h5 style="text-align: left; color: black; font-family: 'Times New Roman', Times, serif;">Seller Registration</h5>
<form (ngSubmit)="sellerRegister()">
    <div class="mb-3" >
        <label for="inputName1" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" 
           placeholder="Enter Your Name" [(ngModel)] = "seller.name">
      </div>
    <div class="mb-3">
      <label for="inputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="emailAddress" name="emailAddress" 
          placeholder="Enter Your Email Address" [(ngModel)] = "seller.emailAddress" required>
    </div>
    <div class="mb-3">
        <label for="inputCompanyName1" class="form-label">Company Name</label>
        <input type="text" class="form-control" id="company" name="company" 
               placeholder="Enter Your Company Name" [(ngModel)] = "seller.company" required>
      </div>
    
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
</div>